.containerNavbar{
    height:10vh;
    padding: 10px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerNavbarList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30%;
}